@media screen and (max-width: 1439px) {
  .originals-movies-container {
    list-style-type: none;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .originals-movies-container {
    list-style-type: none;
    padding-left: 164px;
  }
}
