.movies-app-login-container {
  display: flex;
  flex-direction: column;
  background-color: #131313;
  width: 360px;
  height: 640px;
}

@media screen and (min-width: 760px) {
  .movies-app-login-container {
    position: relative;
    min-width: 760px;
    height: 100vh;
    background: linear-gradient(
        116.64deg,
        rgba(0, 0, 0, 0.8) 0.46%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('https://res.cloudinary.com/dmof8q57d/image/upload/v1661066818/movies_app_background_weglpz.png');
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .movies-app-login-container {
    position: relative;
    min-width: 1024px;
    height: 100vh;
    background: linear-gradient(
        116.64deg,
        rgba(0, 0, 0, 0.8) 0.46%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('https://res.cloudinary.com/dmof8q57d/image/upload/v1661066818/movies_app_background_weglpz.png');
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .movies-app-login-container {
    position: relative;
    min-width: 1440px;
    height: 100vh;
    background: linear-gradient(
        116.64deg,
        rgba(0, 0, 0, 0.8) 0.46%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('https://res.cloudinary.com/dmof8q57d/image/upload/v1661066818/movies_app_background_weglpz.png');
    background-size: cover;
  }
}

@media screen and (min-width: 2560px) {
  .movies-app-login-container {
    position: relative;
    min-width: 2560px;
    height: 100vh;
    background: linear-gradient(
        116.64deg,
        rgba(0, 0, 0, 0.8) 0.46%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('https://res.cloudinary.com/dmof8q57d/image/upload/v1661066818/movies_app_background_weglpz.png');
    background-size: cover;
  }
}

.movies-website-logo {
  width: 100px;
  height: 30px;
  margin-left: 32px;
  margin-top: 32px;
}

@media screen and (min-width: 728px) {
  .movies-website-logo {
    width: 180px;
    height: 52px;
    margin-top: 32px;
    margin-left: 132px;
  }
}

.container {
  width: 90%;
  height: 650px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 728px) and (max-width: 1440px) {
  .container {
    margin-top: 50px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .container {
    margin-top: 100px;
    margin-left: 20px;
  }
}

.form-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 30px;
  height: 400px;
  width: 296px;
  background: transparent;
}

@media screen and (min-width: 728px) {
  .form-name-container {
    align-items: center;
    width: 456px;
    height: 410px;
    background-color: #0c0b10;
    opacity: 0.8;
    border-radius: 8px;
  }
}

@media screen and (min-width: 1450px) {
  .form-name-container {
    width: 500px;
    height: 550px;
    background-color: #0c0b10;
    opacity: 0.8;
    border-radius: 10px;
  }
}

.form-login-heading {
  font-family: 'HK Grotesk';
  width: 80px;
  height: 40px;
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
  text-align: left;
}

@media screen and (min-width: 728px) {
  .form-login-heading {
    margin-top: 0px;
    width: 78px;
    height: 40px;
    text-align: center;
  }
}

.input-container-username {
  width: 296px;
  height: 40px;
  margin-top: 0px;
}

@media screen and (min-width: 728px) {
  .input-container-username {
    width: 360px;
    height: 64px;
    margin-top: 20px;
  }
}

.input-container-password {
  width: 296px;
  height: 40px;
  margin-top: 50px;
}

@media screen and (min-width: 728px) {
  .input-container-password {
    width: 360px;
    height: 64px;
    margin-top: 30px;
  }
}

.input-label-username {
  width: 65px;
  height: 16px;
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height, or 133% */
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

@media screen and (min-width: 728px) {
  .input-label-username {
    width: 64px;
    height: 16px;
    color: #ffffff;
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    /* identical to box height, or 133% */

    letter-spacing: 0.01em;
    text-transform: uppercase;
  }
}

.input-field-username {
  width: 296px;
  height: 40px;
  background: #333333;
  border-radius: 2px;
  border-style: none;
  margin-top: 5px;
}

@media screen and (min-width: 728px) {
  .input-field-username {
    width: 360px;
    height: 40px;
    background: #333333;
    border-radius: 2px;
    border-style: none;
    margin-top: 10px;
  }
}

.input-label-password {
  width: 65px;
  height: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height, or 133% */

  letter-spacing: 0.01em;
  text-transform: uppercase;

  color: #ffffff;
}

@media screen and (min-width: 728px) {
  .input-label-password {
    width: 64px;
    height: 16px;
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: #ffffff;
  }
}

.input-field-password {
  width: 296px;
  height: 40px;
  background: #333333;
  border-radius: 2px;
  border-style: none;
  margin-top: 10px;
}

@media screen and (min-width: 728px) {
  .input-field-password {
    width: 360px;
    height: 40px;
    margin-top: 10px;
    background: #333333;
    border-radius: 2px;
    border-style: none;
  }
}

.login-button {
  width: 296px;
  height: 40px;
  margin-top: 20px;
  background: #e50914;
  border-radius: 8px;
  border-style: none;
  color: #ffffff;
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-top: 50px;
}

@media screen and (min-width: 728px) {
  .login-button {
    width: 360px;
    height: 40px;
    margin-top: 30px;
    background: #e50914;
    border-radius: 8px;
    border-style: none;
    color: #ffffff;
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin-top: 50px;
  }
}

.error-msg {
  color: #e50914;
  font-weight: 400;
  font-family: 'Roboto';
  text-align: left;
  margin-top: 40px;
}

@media screen and (min-width: 728px) {
  .error-msg {
    color: #e50914;
    font-weight: 400;
    font-family: 'Roboto';
    text-align: left;
  }
}
